{% extends 'layouts/master.html' %}
{% block title %} Ver Movimientos {% endblock %}
{% block body %}
<h1>Historial de Movimientos</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Producto</th>
			<th scope="col">Salida Desde</th>
			<th scope="col">Entrada A</th>
			<th scope="col">Cantidad Movida</th>
			<th scope="col">Hora Y Fecha</th>
			<td></td>
		</tr>
	</thead>
	<tbody>
	{% for movimiento in movimientos %}
		<tr>
			<td>{{ movimiento.nombre_producto_a_mover }}</td>
			<td>{{ movimiento.salida_desde }}</td>
			<td>{{ movimiento.entrada_a }}</td>
			<td>{{ movimiento.cantidad_a_mover }}</td>
			<td>{{ movimiento.hora_fecha_movimiento }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
